<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!--
		<meta http-equiv="refresh" content="5; URL=/index.html">
		-->
		<title></title>
		<link rel="stylesheet" href="/lib/fonts/fonts.css"></link>
		<link rel="stylesheet" href="/lib/bootstrap/BOOTSTRA.386/css/bootstrap.min.css"></link>
		<!--
		<link rel="stylesheet" href="/css/style.css"></link>
		-->
		<!-- configure Dojo -->
		<script src="./js/dojoconfig.js"></script>
	</head>
	<body>
		<!-- content -->
		<div>
		</div>
		<!-- load Dojo -->
		<script src="/lib/dojo/dojo/dojo.js"></script>
		<!-- load Application -->
		<script src="./js/main.js"></script>
	</body>
</html>

